<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
  <div  *ngFor="let item of _chatService.chats">

    <div class="text-right" *ngIf="item.uid === _chatService.usuario.uid">
    <span class="badge badge-success">{{item.emisor}}</span>
    <p>{{item.mensaje}}</p>
  </div>

  <div class="text-left" *ngIf="item.uid !== _chatService.usuario.uid">
  <span class="badge badge-primary">{{item.emisor}}</span>
  <p>{{item.mensaje}}</p>
</div>

</div>
</div>

<input
  type="text"
  name="mensaje"
  [(ngModel)]="mensaje"
  value=""
  class="rounded form-control form-control-sm"
  (keyup.enter)="enviarMensaje()"
  placeholder="Enviar mensaje">
