
<div class="container main-container">
  <h1>Fire chat</h1>
  <hr>

  <app-login *ngIf="!_chatServ.usuario.uid"></app-login>
  <div class="col-md-12 text-right" *ngIf="_chatServ.usuario.uid">
    <button type="button" (click)="_chatServ.logout()" class="btn btn-outline-danger">Salir</button>

  </div>
  <div class="chat-window" *ngIf="_chatServ.usuario.uid">

  <app-chat></app-chat>
</div>



</div>
