<div class="row">

  <div class="col-md-12 text-center">
    <p>

      Ingrese al chat con su cuenta favorita
    </p>
    <button type="button" (click)="login('google')" class="btn btn-outline-primary">Google</button>
    <button type="button" (click)="login('twitter')" class="btn btn-outline-info">Twitter</button>

  </div>

</div>
